.css_descricao_variaveis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricao_variaveis_grid_line {vertical-align: top;text-align: right;}
.css_tipo_variaveis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_variaveis_grid_line {vertical-align: top;text-align: right;}
.css_idvariaveis_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idvariaveis_grid_line {vertical-align: top;text-align: right;}
