.css_idparam_impostos__label { }
.css_idparam_impostos__line {text-align:left;}
.css_idparam_impostos__obj {text-align:left;}
.css_idimpostos__label { }
.css_idimpostos__line {text-align:left;}
.css_idimpostos__obj {text-align:left;}
.css_codgo_imposto_vision__label {text-align:;}
.css_codgo_imposto_vision__line {text-align:left;}
.css_codgo_imposto_vision__obj {text-align:left;}
