.css_idcontratos_servicos__label { }
.css_idcontratos_servicos__line {text-align:left;}
.css_idcontratos_servicos__obj {text-align:left;}
.css_idservico__label { }
.css_idservico__line {text-align:left;}
.css_idservico__obj {text-align:left;width:300px;}
.css_plantao__label { }
.css_plantao__line { }
.css_plantao__obj {width:70px;}
.css_valores__label { }
.css_valores__line {text-align:left;}
.css_valores__obj {text-align:left;width:70px;}
