.css_idempresa_det_label {text-align: left;vertical-align: middle;}
.css_idempresa_det_line {height:0px;text-align: left;}
.css_descricaoempresa_det_label {text-align: left;vertical-align: middle;}
.css_descricaoempresa_det_line {height:0px;text-align: left;}
.css_cnpj_det_label {text-align: left;vertical-align: middle;}
.css_cnpj_det_line {height:0px;text-align: left;}
