.css_idlancamento__label { }
.css_idlancamento__line {text-align:left;}
.css_idlancamento__obj {text-align:left;}
.css_numero_da_guia__label { }
.css_numero_da_guia__line {text-align:left;}
.css_numero_da_guia__obj {text-align:left;width:50px;}
.css_idcontratos__label { }
.css_idcontratos__line {text-align:left;}
.css_idcontratos__obj {text-align:left;}
.css_idservico__label { }
.css_idservico__line {text-align:left;}
.css_idservico__obj {text-align:left;width:300px;}
.css_mes_ano__label { }
.css_mes_ano__line { }
.css_mes_ano__obj { }
.css_vlr_servico__label { }
.css_vlr_servico__line {text-align:left;}
.css_vlr_servico__obj {text-align:left;width:50px;}
.css_quantidade__label { }
.css_quantidade__line {text-align:left;}
.css_quantidade__obj {text-align:left;width:50px;}
.css_data_do_servico__label { }
.css_data_do_servico__line { }
.css_data_do_servico__obj { }
.css_momento__label { }
.css_momento__line { }
.css_momento__obj { }
.css_usuario__label { }
.css_usuario__line { }
.css_usuario__obj { }
.css_idpessoas_profissinais__label { }
.css_idpessoas_profissinais__line {text-align:left;}
.css_idpessoas_profissinais__obj {text-align:left;}
.css_total_servico__label { }
.css_total_servico__line {text-align:left;}
.css_total_servico__obj {text-align:left;}
.css_idespecialidade_servicos__label { }
.css_idespecialidade_servicos__line {text-align:left;}
.css_idespecialidade_servicos__obj {text-align:left;}
