.css_mes_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_mes_grid_line {vertical-align: top;text-align: right;}
.css_ano_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ano_grid_line {vertical-align: top;text-align: right;}
.css_nome_razao_social_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_razao_social_grid_line {vertical-align: top;text-align: right;}
.css_dadoscontratos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dadoscontratos_grid_line {vertical-align: top;text-align: right;}
.css_totalservico_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_totalservico_grid_line {vertical-align: top;text-align: right;}
.css_perc_cofins_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_perc_cofins_grid_line {vertical-align: top;text-align: right;}
.css_valorcofins_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valorcofins_grid_line {vertical-align: top;text-align: right;}
.css_perc_csll_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_perc_csll_grid_line {vertical-align: top;text-align: right;}
.css_valorcsll_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valorcsll_grid_line {vertical-align: top;text-align: right;}
.css_perc_irpj_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_perc_irpj_grid_line {vertical-align: top;text-align: right;}
.css_valorirpj_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valorirpj_grid_line {vertical-align: top;text-align: right;}
.css_perc_iss_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_perc_iss_grid_line {vertical-align: top;text-align: right;}
.css_valoriss_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valoriss_grid_line {vertical-align: top;text-align: right;}
.css_perc_pis_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_perc_pis_grid_line {vertical-align: top;text-align: right;}
.css_valorpis_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valorpis_grid_line {vertical-align: top;text-align: right;}
.css_valorliquido_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valorliquido_grid_line {vertical-align: top;text-align: right;}
.css_idcontratos_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcontratos_grid_line {vertical-align: top;text-align: right;}
.css_idfilial_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idfilial_grid_line {vertical-align: top;text-align: right;}
.css_comercial_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_comercial_grid_line {vertical-align: top;text-align: right;}
.css_descricaoempresa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricaoempresa_grid_line {vertical-align: top;text-align: right;}
.css_idpessoas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpessoas_grid_line {vertical-align: top;text-align: right;}
