.css_idsocios__label { }
.css_idsocios__line {text-align:left;}
.css_idsocios__obj {text-align:left;}
.css_idpessoas_socios__label { }
.css_idpessoas_socios__line {text-align:left;}
.css_idpessoas_socios__obj {text-align:left;}
.css_tipo_socios__label { }
.css_tipo_socios__line {text-align:left;}
.css_tipo_socios__obj {text-align:left;}
.css_tipo_adm__label { }
.css_tipo_adm__line { }
.css_tipo_adm__obj { }
