.css_idparam_especialidade__label { }
.css_idparam_especialidade__line {text-align:left;}
.css_idparam_especialidade__obj {text-align:left;}
.css_idespecialidade__label { }
.css_idespecialidade__line {text-align:left;}
.css_idespecialidade__obj {text-align:left;}
.css_numnucleocusto__label { }
.css_numnucleocusto__line {text-align:left;}
.css_numnucleocusto__obj {text-align:left;}
