.css_mes_ano_grid_line {vertical-align: top;text-align: left;}
.css_nome_razao_social_grid_line {vertical-align: top;text-align: left;}
.css_contratos_grid_line {vertical-align: top;text-align: left;}
.css_profissional_grid_line {vertical-align: top;text-align: left;}
.css_atividade_grid_line {vertical-align: top;text-align: left;}
.css_descricao_especialidade_grid_line {vertical-align: top;text-align: left;}
.css_descricao_servico_grid_line {vertical-align: top;text-align: left;}
.css_quantidade_grid_line {vertical-align: top;text-align: right;}
.css_quantidade_sub_tot {text-align: right;}
.css_quantidade_tot_ger {text-align: right;}
.css_total_servico_grid_line {vertical-align: top;text-align: right;}
.css_total_servico_sub_tot {text-align: right;}
.css_total_servico_tot_ger {text-align: right;}
