.css_idcontratos_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcontratos_grid_line {vertical-align: top;text-align: right;}
.css_idpessoas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpessoas_grid_line {vertical-align: top;text-align: right;}
.css_idfilial_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idfilial_grid_line {vertical-align: top;text-align: right;}
.css_numero_do_contrato_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numero_do_contrato_grid_line {vertical-align: top;text-align: right;}
.css_data_inicio_contrato_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_inicio_contrato_grid_line {vertical-align: top;text-align: center;}
.css_data_final_contrato_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_final_contrato_grid_line {vertical-align: top;text-align: center;}
.css_situacao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_situacao_grid_line {vertical-align: top;text-align: right;}
