.css_idpesssoas_impostos__label { }
.css_idpesssoas_impostos__line {text-align:left;}
.css_idpesssoas_impostos__obj {text-align:left;}
.css_idpessoas__label { }
.css_idpessoas__line {text-align:left;}
.css_idpessoas__obj {text-align:left;}
.css_idimpostos__label { }
.css_idimpostos__line { }
.css_idimpostos__obj { }
.css_percentual_impostos__label { }
.css_percentual_impostos__line {text-align:left;}
.css_percentual_impostos__obj {text-align:left;}
