.css_data_do_servico_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_do_servico_grid_line {vertical-align: top;text-align: center;}
.css_numero_da_guia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numero_da_guia_grid_line {vertical-align: top;text-align: right;}
.css_quantidade_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_quantidade_grid_line {vertical-align: top;text-align: right;}
.css_vlr_servico_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_vlr_servico_grid_line {vertical-align: top;text-align: right;}
.css_total_servico_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_servico_grid_line {vertical-align: top;text-align: right;}
.css_total_servico_sub_tot {text-align: right;}
.css_total_servico_tot_ger {text-align: right;}
.css_descricao_especialidade_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricao_especialidade_grid_line {vertical-align: top;text-align: left;}
