.css_comercial_det_label {text-align: right;vertical-align: middle;}
.css_comercial_det_line {height:0px;text-align: right;}
.css_idfilial_det_label {text-align: right;vertical-align: middle;}
.css_idfilial_det_line {height:0px;text-align: right;}
.css_situacao_det_label {text-align: right;vertical-align: middle;}
.css_situacao_det_line {height:0px;text-align: right;}
.css_idpessoas_det_label {text-align: right;vertical-align: middle;}
.css_idpessoas_det_line {height:0px;text-align: right;}
.css_cpf_cnpj_det_label {text-align: right;vertical-align: middle;}
.css_cpf_cnpj_det_line {height:0px;text-align: right;}
.css_data_inicio_contrato_det_label {text-align: right;vertical-align: middle;}
.css_data_inicio_contrato_det_line {height:0px;text-align: right;}
.css_data_final_contrato_det_label {text-align: right;vertical-align: middle;}
.css_data_final_contrato_det_line {height:0px;text-align: right;}
.css_numero_do_contrato_det_label {text-align: right;vertical-align: middle;}
.css_numero_do_contrato_det_line {height:0px;text-align: right;}
.css_nome_razao_social_det_label {text-align: right;vertical-align: middle;}
.css_nome_razao_social_det_line {height:0px;text-align: right;}
.css_descricao_servico_det_label {text-align: right;vertical-align: middle;}
.css_descricao_servico_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
.css_sc_field_0_det_label {text-align: right;vertical-align: middle;}
.css_sc_field_0_det_line {height:0px;text-align: right;}
