.css_idpessoas_det_label {text-align: left;vertical-align: middle;}
.css_idpessoas_det_line {height:0px;text-align: left;}
.css_tipo_pessoa_det_label {text-align: left;vertical-align: middle;}
.css_tipo_pessoa_det_line {height:0px;text-align: left;}
.css_cpf_cnpj_det_label {text-align: left;vertical-align: middle;}
.css_cpf_cnpj_det_line {height:0px;text-align: left;}
.css_rg_inscricao_est_det_label {text-align: left;vertical-align: middle;}
.css_rg_inscricao_est_det_line {height:0px;text-align: left;}
.css_nome_razao_social_det_label {text-align: left;vertical-align: middle;}
.css_nome_razao_social_det_line {height:0px;text-align: left;}
.css_inscricao_municipal_det_label {text-align: left;vertical-align: middle;}
.css_inscricao_municipal_det_line {height:0px;text-align: left;}
.css_email_det_label {text-align: left;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: left;}
.css_telefone_det_label {text-align: left;vertical-align: middle;}
.css_telefone_det_line {height:0px;text-align: left;}
.css_cep_det_label {text-align: left;vertical-align: middle;}
.css_cep_det_line {height:0px;text-align: left;}
.css_usuario_det_label {text-align: left;vertical-align: middle;}
.css_usuario_det_line {height:0px;text-align: left;}
.css_momento_det_label {text-align: left;vertical-align: middle;}
.css_momento_det_line {height:0px;text-align: left;}
