.css_idpessoas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpessoas_grid_line {vertical-align: top;text-align: right;}
.css_cpf_cnpj_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cpf_cnpj_grid_line {vertical-align: top;text-align: right;}
.css_nome_razao_social_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_razao_social_grid_line {vertical-align: top;text-align: right;}
.css_rg_inscricao_est_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rg_inscricao_est_grid_line {vertical-align: top;text-align: right;}
