.css_idcontratos_funcionarios__label {text-align:;}
.css_idcontratos_funcionarios__line {text-align:left;}
.css_idcontratos_funcionarios__obj {text-align:left;}
.css_idsocios__label { }
.css_idsocios__line {text-align:left;}
.css_idsocios__obj {text-align:left;}
