.css_idpessoas_label { }
.css_idpessoas_line {text-align:left;}
.css_idpessoas_obj {text-align:left;}
.css_tipo_pessoa_label { }
.css_tipo_pessoa_line {text-align:left;}
.css_tipo_pessoa_obj {text-align:left;}
.css_cpf_cnpj_label { }
.css_cpf_cnpj_line { }
.css_cpf_cnpj_obj { }
.css_rg_inscricao_est_label { }
.css_rg_inscricao_est_line { }
.css_rg_inscricao_est_obj { }
.css_nome_razao_social_label { }
.css_nome_razao_social_line { }
.css_nome_razao_social_obj { }
.css_inscricao_municipal_label { }
.css_inscricao_municipal_line { }
.css_inscricao_municipal_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_telefone_label { }
.css_telefone_line { }
.css_telefone_obj { }
.css_data_abertura_pessoas_label { }
.css_data_abertura_pessoas_line { }
.css_data_abertura_pessoas_obj { }
.css_idempresa_label { }
.css_idempresa_line {text-align:left;}
.css_idempresa_obj {text-align:left;}
.css_logradouro_label { }
.css_logradouro_line { }
.css_logradouro_obj { }
.css_numero_label { }
.css_numero_line { }
.css_numero_obj { }
.css_complemento_label { }
.css_complemento_line { }
.css_complemento_obj { }
.css_cep_label { }
.css_cep_line { }
.css_cep_obj { }
.css_bairro_label { }
.css_bairro_line { }
.css_bairro_obj { }
.css_municipio_label { }
.css_municipio_line { }
.css_municipio_obj { }
.css_uf_label { }
.css_uf_line { }
.css_uf_obj { }
.css_momento_label { }
.css_momento_line { }
.css_momento_obj { }
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_contato_label { }
.css_contato_line { }
.css_contato_obj { }
.css_numero_conselho_label { }
.css_numero_conselho_line { }
.css_numero_conselho_obj { }
.css_idconselho_classe_label { }
.css_idconselho_classe_line { }
.css_idconselho_classe_obj { }
.css_socios_label { }
.css_socios_line { }
.css_socios_obj { }
.css_impostos_label { }
.css_impostos_line { }
.css_impostos_obj { }
.css_conselhosimounao_label { }
.css_conselhosimounao_line { }
.css_conselhosimounao_obj { }
