.css_idfilial_label { }
.css_idfilial_line {text-align:left;}
.css_idfilial_obj {text-align:left;}
.css_cnpj_label { }
.css_cnpj_line { }
.css_cnpj_obj { }
.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_fantasia_label { }
.css_fantasia_line { }
.css_fantasia_obj { }
.css_comercial_label { }
.css_comercial_line { }
.css_comercial_obj { }
.css_logomarca_label { }
.css_logomarca_line { }
.css_logomarca_obj { }
.css_idempresa_label { }
.css_idempresa_line {text-align:left;}
.css_idempresa_obj {text-align:left;}
