.css_nucleo_unidade_id_nucleo_atendimento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nucleo_unidade_id_nucleo_atendimento_grid_line {vertical-align: top;text-align: right;}
.css_nucleo_de_atendimento_descricao_do_nucleo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nucleo_de_atendimento_descricao_do_nucleo_grid_line {vertical-align: top;text-align: left;}
.css_nucleo_de_atendimento_analitico_ou_sintetico_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nucleo_de_atendimento_analitico_ou_sintetico_grid_line {vertical-align: top;text-align: left;}
