.css_mes_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_mes_grid_line {vertical-align: top;text-align: right;}
.css_ano_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ano_grid_line {vertical-align: top;text-align: right;}
.css_nome_razao_social_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_razao_social_grid_line {vertical-align: top;text-align: left;}
.css_dadoscontratos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dadoscontratos_grid_line {vertical-align: top;text-align: left;}
.css_totalservico2_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_totalservico2_grid_line {vertical-align: top;text-align: right;}
.css_totalservico2_sub_tot {text-align: right;}
.css_totalservico2_tot_ger {text-align: right;}
.css_idcontratos_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcontratos_grid_line {vertical-align: top;text-align: right;}
.css_idfilial_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idfilial_grid_line {vertical-align: top;text-align: right;}
.css_comercial_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_comercial_grid_line {vertical-align: top;text-align: left;}
.css_descricaoempresa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricaoempresa_grid_line {vertical-align: top;text-align: left;}
.css_idpessoas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpessoas_grid_line {vertical-align: top;text-align: right;}
