.css_idimpostos_det_label {text-align: right;vertical-align: middle;}
.css_idimpostos_det_line {height:0px;text-align: right;}
.css_sigla_impostos_det_label {text-align: right;vertical-align: middle;}
.css_sigla_impostos_det_line {height:0px;text-align: right;}
.css_descricao_imposto_det_label {text-align: right;vertical-align: middle;}
.css_descricao_imposto_det_line {height:0px;text-align: right;}
.css_percentual_default_det_label {text-align: right;vertical-align: middle;}
.css_percentual_default_det_line {height:0px;text-align: right;}
.css_tipo_imposto_det_label {text-align: right;vertical-align: middle;}
.css_tipo_imposto_det_line {height:0px;text-align: right;}
