.css_idcontratos_label { }
.css_idcontratos_line {text-align:left;}
.css_idcontratos_obj {text-align:left;}
.css_idpessoas_label { }
.css_idpessoas_line {text-align:left;}
.css_idpessoas_obj {text-align:left;}
.css_idfilial_label { }
.css_idfilial_line {text-align:left;}
.css_idfilial_obj {text-align:left;}
.css_numero_do_contrato_label { }
.css_numero_do_contrato_line { }
.css_numero_do_contrato_obj { }
.css_data_inicio_contrato_label { }
.css_data_inicio_contrato_line { }
.css_data_inicio_contrato_obj { }
.css_data_final_contrato_label { }
.css_data_final_contrato_line { }
.css_data_final_contrato_obj { }
.css_momento_label { }
.css_momento_line { }
.css_momento_obj { }
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_situacao_label { }
.css_situacao_line { }
.css_situacao_obj { }
.css_idtipo_servico_label { }
.css_idtipo_servico_line {text-align:left;}
.css_idtipo_servico_obj {text-align:left;}
.css_especialidades_label { }
.css_especialidades_line { }
.css_especialidades_obj { }
.css_funcionarios_label { }
.css_funcionarios_line { }
.css_funcionarios_obj { }
.css_observacao_label { }
.css_observacao_line { }
.css_observacao_obj { }
.css_servicos_label { }
.css_servicos_line { }
.css_servicos_obj { }
