.css_idempresa_label { }
.css_idempresa_line {text-align:left;}
.css_idempresa_obj {text-align:left;}
.css_descricaoempresa_label { }
.css_descricaoempresa_line { }
.css_descricaoempresa_obj { }
.css_cnpj_label { }
.css_cnpj_line {text-align:left;}
.css_cnpj_obj {text-align:left;}
.css_bd_label { }
.css_bd_line { }
.css_bd_obj { }
