.css_idpre_lancamento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpre_lancamento_grid_line {vertical-align: top;text-align: right;}
.css_numero_da_guia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numero_da_guia_grid_line {vertical-align: top;text-align: right;}
.css_idcontratos_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcontratos_grid_line {vertical-align: top;text-align: right;}
.css_idpessoas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpessoas_grid_line {vertical-align: top;text-align: right;}
.css_mes_ano_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mes_ano_grid_line {vertical-align: top;text-align: right;}
.css_data_do_servico_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_do_servico_grid_line {vertical-align: top;text-align: center;}
.css_quantidade_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_quantidade_grid_line {vertical-align: top;text-align: right;}
