.css_idpre_lancamento_det_label {text-align: right;vertical-align: middle;}
.css_idpre_lancamento_det_line {height:0px;text-align: right;}
.css_numero_da_guia_det_label {text-align: right;vertical-align: middle;}
.css_numero_da_guia_det_line {height:0px;text-align: right;}
.css_idcontratos_det_label {text-align: right;vertical-align: middle;}
.css_idcontratos_det_line {height:0px;text-align: right;}
.css_idpessoas_det_label {text-align: right;vertical-align: middle;}
.css_idpessoas_det_line {height:0px;text-align: right;}
.css_mes_ano_det_label {text-align: right;vertical-align: middle;}
.css_mes_ano_det_line {height:0px;text-align: right;}
.css_quantidade_det_label {text-align: right;vertical-align: middle;}
.css_quantidade_det_line {height:0px;text-align: right;}
.css_data_do_servico_det_label {text-align: right;vertical-align: middle;}
.css_data_do_servico_det_line {height:0px;text-align: right;}
.css_idpessoas_profissionais_det_label {text-align: right;vertical-align: middle;}
.css_idpessoas_profissionais_det_line {height:0px;text-align: right;}
.css_anexo_guia_det_label {text-align: right;vertical-align: middle;}
.css_anexo_guia_det_line {height:0px;text-align: right;}
.css_idfilial_det_label {text-align: right;vertical-align: middle;}
.css_idfilial_det_line {height:0px;text-align: right;}
.css_idespecialidade_servicos_det_label {text-align: right;vertical-align: middle;}
.css_idespecialidade_servicos_det_line {height:0px;text-align: right;}
.css_momento_det_label {text-align: right;vertical-align: middle;}
.css_momento_det_line {height:0px;text-align: right;}
.css_usuario_det_label {text-align: right;vertical-align: middle;}
.css_usuario_det_line {height:0px;text-align: right;}
.css_lote_det_label {text-align: right;vertical-align: middle;}
.css_lote_det_line {height:0px;text-align: right;}
.css_bloqueado_det_label {text-align: right;vertical-align: middle;}
.css_bloqueado_det_line {height:0px;text-align: right;}
.css_momento_geracao_lote_det_label {text-align: right;vertical-align: middle;}
.css_momento_geracao_lote_det_line {height:0px;text-align: right;}
