.css_idpre_lancamento_label {text-align:;}
.css_idpre_lancamento_line {text-align:left;}
.css_idpre_lancamento_obj {text-align:left;}
.css_data_do_servico_label { }
.css_data_do_servico_line { }
.css_data_do_servico_obj { }
.css_idespecialidade_servicos_label { }
.css_idespecialidade_servicos_line {text-align:left;}
.css_idespecialidade_servicos_obj {text-align:left;}
.css_idpessoas_label { }
.css_idpessoas_line {text-align:left;}
.css_idpessoas_obj {text-align:left;}
.css_idprofissional_label { }
.css_idprofissional_line {text-align:left;}
.css_idprofissional_obj {text-align:left;}
.css_num_guia_label { }
.css_num_guia_line {text-align:left;}
.css_num_guia_obj {text-align:left;}
.css_anexo_guia_label { }
.css_anexo_guia_line {text-align:left;}
.css_anexo_guia_obj {text-align:left;}
.css___calend_all_day___label { }
.css___calend_all_day___line { }
.css___calend_all_day___obj { }
