.css_idcontratos_especialidades__label { }
.css_idcontratos_especialidades__line {text-align:left;}
.css_idcontratos_especialidades__obj {text-align:left;}
.css_idespecialidade_servicos__label { }
.css_idespecialidade_servicos__line {text-align:left;}
.css_idespecialidade_servicos__obj {text-align:left;}
