.css_idcontratos_servicos_det_label {text-align: left;vertical-align: middle;}
.css_idcontratos_servicos_det_line {height:0px;text-align: left;}
.css_idcontratos_det_label {text-align: left;vertical-align: middle;}
.css_idcontratos_det_line {height:0px;text-align: left;}
.css_idservico_det_label {text-align: left;vertical-align: middle;}
.css_idservico_det_line {height:0px;text-align: left;}
