.css_idcontratos_servicos_det_label {text-align: right;vertical-align: middle;}
.css_idcontratos_servicos_det_line {height:0px;text-align: right;}
.css_idcontratos_det_label {text-align: right;vertical-align: middle;}
.css_idcontratos_det_line {height:0px;text-align: right;}
.css_idservico_det_label {text-align: right;vertical-align: middle;}
.css_idservico_det_line {height:0px;text-align: right;}
