.css_idobservacoescontratos__label { }
.css_idobservacoescontratos__line {text-align:left;}
.css_idobservacoescontratos__obj {text-align:left;}
.css_idobservacaostatus__label { }
.css_idobservacaostatus__line {text-align:left;}
.css_idobservacaostatus__obj {text-align:left;}
.css_observacao__label { }
.css_observacao__line { }
.css_observacao__obj { }
.css_quem__label { }
.css_quem__line { }
.css_quem__obj { }
.css_quando__label { }
.css_quando__line { }
.css_quando__obj { }
.css_idcontratos__label { }
.css_idcontratos__line {text-align:left;}
.css_idcontratos__obj {text-align:left;}
