.css_idusuarioexternos__label {text-align:;}
.css_idusuarioexternos__line {text-align:left;}
.css_idusuarioexternos__obj {text-align:left;}
.css_nome_do_usuario__label { }
.css_nome_do_usuario__line { }
.css_nome_do_usuario__obj { }
.css_cpf_usuario__label {text-align:;}
.css_cpf_usuario__line {text-align:left;}
.css_cpf_usuario__obj {text-align:left;}
.css_idfilial__label { }
.css_idfilial__line {text-align:left;}
.css_idfilial__obj {text-align:left;}
.css_ativo__label { }
.css_ativo__line { }
.css_ativo__obj { }
