.css_idservico_label { }
.css_idservico_line {text-align:left;}
.css_idservico_obj {text-align:left;}
.css_descricao_servico_label { }
.css_descricao_servico_line { }
.css_descricao_servico_obj {width:450px;}
.css_vlr_unit_label { }
.css_vlr_unit_line {text-align:left;}
.css_vlr_unit_obj {text-align:left;}
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_idempresa_label { }
.css_idempresa_line {text-align:left;}
.css_idempresa_obj {text-align:left;}
