.css_idservico_det_label {text-align: right;vertical-align: middle;}
.css_idservico_det_line {height:0px;text-align: right;}
.css_descricao_servico_det_label {text-align: right;vertical-align: middle;}
.css_descricao_servico_det_line {height:0px;text-align: right;}
.css_vlr_unit_det_label {text-align: right;vertical-align: middle;}
.css_vlr_unit_det_line {height:0px;text-align: right;}
.css_tipo_det_label {text-align: right;vertical-align: middle;}
.css_tipo_det_line {height:0px;text-align: right;}
.css_idempresa_det_label {text-align: right;vertical-align: middle;}
.css_idempresa_det_line {height:0px;text-align: right;}
