.css_idservico_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idservico_grid_line {vertical-align: top;text-align: right;}
.css_descricao_servico_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricao_servico_grid_line {vertical-align: top;text-align: left;}
.css_vlr_unit_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_vlr_unit_grid_line {vertical-align: top;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: left;}
.css_idempresa_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idempresa_grid_line {vertical-align: top;text-align: right;}
